[user]
	name = Sahil Bajaj
	email = spinningarrow@users.noreply.github.com
[includeIf "gitdir:~/dev.tw/"]
	path = ~/dev.tw/.gitconfig
[includeIf "gitdir:~/dev/jh/"]
	path = ~/dev/jh/gitconfig
[alias]
	ld = log --graph --decorate --oneline
	lg = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=relative --graph
[color]
	ui = auto
[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[merge]
	conflictstyle = diff3
	log = true
	tool = vimdiff
[push]
	default = simple
	followTags = true
[rebase]
	stat = true
	autoStash = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[help]
	autocorrect = 1
[pull]
	rebase = true
