[user]
	name = Sahil Bajaj
	useConfigOnly = true
[alias]
	a = add
	ai = add --interactive
	ap = add --patch
	b = branch
	c = commit -v
	co = checkout
	d = diff
	dc = diff --color-words
	ds = diff --staged
	dt = difftool -y -d
	e = config user.email
	f = fetch
	l = log
	l1 = log -1
	ld = log --graph --decorate --oneline
	lg = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=relative --graph
	ll = log @{u}..
	lr = log ..@{u}
	r = remote
	s = status -sb
	sl = stash list
[color]
	ui = auto
[core]
	autocrlf = input
	editor = vim
	excludesfile = /Users/sahil/.gitignore
[credential]
	helper = osxkeychain
[merge]
	conflictstyle = diff3
	log = true
	tool = vimdiff
[push]
	default = simple
	followTags = true
[rebase]
	stat = true
	autoStash = true
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
