rules:
    curly: [2, multi-line]
    no-shadow: 0
    no-use-before-define: [2, nofunc]
    quotes: [2, single]
    semi: 0
    strict: 0
ecmaFeatures:
    jsx: true
    modules: true
env:
    browser: true
    node: true
    es6: true
    mocha: true
