[user]
	email = sahil29@gmail.com
	name = Sahil Bajaj
[core]
	excludesfile = /Users/sahil/.gitignore
	autocrlf = input
	editor = /usr/bin/vim
[alias]
	ai = add --interactive
	co = checkout
	dt = difftool -y -d
	flog = log HEAD..origin --pretty=oneline
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	st = status -sb
	sl = stash list
	ss = stash save
	sp = stash pop
[color]
	ui = auto
[diff]
	tool = opendiff
[push]
	default = simple
[credential]
	helper = osxkeychain
