[include]
	path = .gitconfig.include
[alias]
	ai = add --interactive
	co = checkout
	dt = difftool -y -d
	f = fetch
	l = log
	l1 = log -1
	ld = log --graph --decorate --oneline
	lg = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=relative --graph
	ll = log @{u}..
	lr = log ..@{u}
	st = status -sb
	sl = stash list
	d = diff
	ds = diff --staged
[color]
	ui = auto
[core]
	autocrlf = input
	editor = vim
[merge]
	conflictstyle = diff3
[push]
	default = simple
[rebase]
	stat = true
[rerere]
	enabled = true
