{:aliases {:rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.3"}}
                   :main-opts  ["-m" "rebel-readline.main"]}
           :cheshire {:extra-deps {cheshire {:mvn/version "5.8.0"}}}}}
